// #gl .ReactTable {
//     margin-top: 20px;
//     margin-left: 20px;
//     background-color: darkgray;
//     border: 20px black;
//     //align-self: center
//         width: 100%;
//         margin: 0;
//         padding: 0;
//         border-collapse: collapse;
//         border-spacing: 0; 
// }
// #gl .ReactTable .rt-tr:hover .rt-td {
//     background: burlywood;
//     border: 5px
// }

// #gl .ReactTable .rt-td {
//     font-family: Malgun Gothic;
//     font-size: 14px;
//     font-weight: 500;
//     padding: 0 20px;
//     border: 10px black
// }

// #gl .page-header {
//     font-weight: 100;
//     margin-top: 5px;
//     text-align: center
// }

#gl .header {
    font-family: 'Segoe UI', sans-serif ;
    font-size: 16px;
    font-weight: 500;
    // background-color: lightgrey
}

#gl-modal .modal-header {
    background-color: darkgoldenrod;
}

// #gl-modal .modal-body {
//     font-family: Verdana;
//     font-weight: 500;
//     color: black
// }

#gl-modal .label {
    font-weight: 600;
}

// #gl .button{
//     // font-weight: 800;
//     // font-size: black;
//     margin-bottom: 5px;
//     margin-right: 2px;
//     margin-left: 20px;
//     padding: 5px 10px;
//     cursor: pointer;
//     font-size: 15px;
//     box-shadow: 0 5px #999;
//     // color: black;
// }

// #gl-modal .button{
//     font-weight: 800;
//     font-size: black;
//     margin-bottom: 5px;
//     margin-right: 2px;
//     margin-left: 20px;
//     padding: 5px 10px;
//     font-size: 15px;
//     color: black;
// }

// #gl-modal .modal-footer {
//     background-color: lightgrey
// }

